{% extends "base.html" %}
{% block content %}
    <section class="p-5">
        <p>showmeprice.com is created to provide information about property prices in UK.</p>
        <p>On the website pages you can find flats and houses prices by city and postcode.</p>
        <p>All information is collected from publicly available sources.</p>
        <p>Due to limited volumes of available information, some data points are empty and marked as '-'.</p>
        <p>However we are working on bringing as much useful information as possible.</p>
    </section> 
{% endblock %}