{% extends "base.html" %}
{% block content %}
    <section class="p-5">
        <!-- Map -->
        <div id="map" style="max-width: 900px; height: 700px; margin-left: auto; margin-right: auto;"></div>
    </section> 
    <!-- Countries list -->
    <section class="p-3">
        <div class="table-responsive-md">
            <table class="table table-hover caption-top" style="max-width:900px; margin-left: auto; margin-right: auto;">
                <caption>
                    <h5 class="margin-left: auto; margin-right: auto">Property median {{ deal_type }} prices in {{ country.upper() }}:</h5>
                </caption>
                <thead>
                    <tr>
                        {% for header in table_header.keys() %}
                            {% if header == 'City' %}
                                <th scope="col">{{header}}</th>
                            {% else %}
                                <th scope="col" style="text-align: center">{{header}}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for record in data %}
                        <tr>
                            <th scope="row"><a href="{{ url_for('postcodes', deal_type=deal_type, country=country, city=record['city']) }}">{{record['city']}}</a></th>
                            <td style="text-align: center">{{record['bd1a']}}</td>
                            <td style="text-align: center">{{record['bd2a']}}</td>
                            <td style="text-align: center">{{record['bd3a']}}</td>
                            <td style="text-align: center">{{record['bd4h']}}</td>
                        </tr>
                    {% endfor %}
                </tbody>                          
            </table>
        </div>
    </section>
    <script>
        var map = L.map('map').setView([54.5, -2], 6);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap'
        }).addTo(map);
        function getColor(r) {
            return r < 10 ? '#12c000' :
                   r < 20 ? '#55b000' :
                   r < 30 ? '#71a000' :
                   r < 40 ? '#849000' :
                   r < 50 ? '#927e00' :
                   r < 60 ? '#9c6c00' :
                   r < 70 ? '#a25900' :
                   r < 80 ? '#a44600' :
                   r < 90 ? '#a33100' :
                            '#9f1807';
        };
        {% for record in data %}
            L.circle([{{ record['latitude'] }}, {{ record['longitude'] }}], {
                color: '#ffffff',
                weight: 1,
                fillColor: getColor({{ record['price_rank'] }}),
                fillOpacity: 0.8,
                radius: 9000
            }).addTo(map)
            .bindPopup("{{ record['city'] }}");
        {% endfor %}
    </script>
{% endblock %}
